.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.label {
  margin-bottom: 1em;
  color: #333;
  font-size: 2.4rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.query {
  padding: 0.2em 0.4em;
  font-size: 2rem;
  background-color: #222;
  color: #444;
  border: none;
  text-align: center;
  outline: none;
}

.on-air {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style: none;
}

.stream {
  position: relative;
  margin: 0.4em;
  border: 1px solid #222;
  border-radius: 2px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);

  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 3px 1px rgba(40, 40, 40, 0.6);
  }
}

.info {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  border-radius: 2px;
  pointer-events: none;
  
  & > dl {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.4em;

    & > dt {
      margin-bottom: 0.2em;
      font-size: 0.9rem;
    }

    & > dd {
      margin: 0;
      padding: 0 0.2em;
      font-size: 1.6rem;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
